

.contentsContainer {
    display: flex;
    flex-flow: row wrap;
    background-color: gray;
}

.contentCardContainer {
    margin: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid darkblue;
    background-color: lightgray;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;

    .contentName {
        width: 100%;
        text-align: center;
        padding: 3px;
        font-weight: bold;
    }

    .contentDataContainer {
        display: flex;
        flex-flow: row nowrap;
    }

    .contentDetails {
        font-size: small;
        flex-grow: 1;

        ul {
            list-style: none;
        }
    }

    .imageContainer {
        width: 200px;
        height: 200px;
        flex-grow: 0;
    }
}