

.contentsContainer {
    display: flex;
    flex-flow: row wrap;
    background-color: gray;
}

.contentCardContainer {
    margin: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid darkblue;
    background-color: lightgray;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;

    .contentName {
        width: 100%;
        text-align: center;
        padding: 3px;
        font-weight: bold;
    }

    .contentDataContainer {
        display: flex;
        flex-flow: row nowrap;
    }

    .contentDetails {
        font-size: small;
        flex-grow: 1;

        ul {
            list-style: none;
        }
    }

    .imageContainer {
        width: 200px;
        height: 200px;
        flex-grow: 0;
    }
}

.contentDisplayContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(gray, 0.4);

    .closeButton {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        z-index: 100;
        font-size: 35px;
        color: white;
        background-color: rgba($color: black, $alpha: 0.3);
        border: 1px white solid;
        content: "X"
    }

    .contentWrapper {
        width: 100%;
        height: 100%;

        img, video {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}